.heading-rps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
button {
    margin: 12px;
}
#results {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}